recursive-include *.py
recursive-include *.ipynb
include setup.cfg
include README.md CHANGELOG.md LICENSE.md
include *.txt
recursive-include bionetgen/bng-linux *
recursive-include bionetgen/bng-mac *
recursive-include bionetgen/bng-win *
