pandas>=1.0.5
cement>=3.0.4
xmltodict>=0.12.0
matplotlib
seaborn
pyyaml
colorlog
nbopen
libroadrunner
sympy
lxml
networkx
python-libsbml
pylru
pyparsing
pexpect; sys_platform != 'win32'
winpexpect; sys_platform == 'win32'